 
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
 
@import "tailwindcss";
@plugin "daisyui";


.font-urbanist{
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.btn-color{
  background-color: #00bcd5;
  color: white;
   border: 1px solid #00a4b9 ;
}
.bg-color{
  background-color: #d1f0f4;
}
.base-color {
  color: #00bcd5;
}

.custom-zebra {
  --table-zebra-stripe: #97edf9;
}